# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

/src/tools/level-gen/inkscape.pyc
/src/tools/level-gen/inter.txt
/src/tools/level-gen/.idea/.name
/src/tools/level-gen/.idea/encodings.xml
/src/tools/level-gen/.idea/inspectionProfiles/profiles_settings.xml
/src/tools/level-gen/.idea/level-gen.iml
/src/tools/level-gen/.idea/misc.xml
/src/tools/level-gen/.idea/modules.xml
/src/tools/level-gen/.idea/scopes/scope_settings.xml
/src/tools/level-gen/.idea/vcs.xml
/src/tools/level-gen/.idea/workspace.xml